<span class="term-hint" tabindex="0">
  <span class="term-label"><%= label %></span>
  <span class="term-tooltip" role="tooltip">
    <span class="term-technical"><%= technical %></span>
    <%= definition %>
  </span>
</span>
